#IDEA
.idea
.vscode
*.private.env.json

#WERF
.werf_secret_key
secretRaw.yml

#JS
node_modules
/yarn.lock

#OS
.DS_Store

#Go test
*.test
*.out
vendor
Gopkg.lock
Gopkg.toml

#env
.env
.env.*
!.env.*.example
!.env.example

#Protobuf
*.pb.*
*.swagger.json
*.proto
